<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>社区公告信息</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
</head>
<body>
    <div>
        <span style="align-content: center">
            感谢你对鲁班字节码从操作工具的关注，后续将持续更新升级！
        </span>
        <br/>
        <span style="align-content: center">
            如果有你好的建议和意见，可以联系89733737@qq.om
        </span>
    </div>
</body>
</html>